*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

.odor-mean-chey-regular {
    font-family: "Odor Mean Chey", serif;
    font-weight: 400;
    font-style: normal;
  }

body{
    background-color: rgb(225, 225, 235);
    color: rgb(6, 6, 126);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.tituloprincipal{
    font-size: 12px;
    color: rgb(6, 6, 126);
    text-align: center;
    margin-top: 0px;
    margin-bottom: 15px;
}

.corpo {
    width: 500px;
    height: 400px;
    background-color: #ffffff;
    border-color:  rgb(255, 255, 255);
    border-style: solid;
    border-width: 2px;
    align-items: center;
    position: relative;
    border-radius: 20px;
    box-shadow: 2px 2px 5px black;
}

.parte1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
    margin-left: 30px;
}
.quantidade{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
    margin-top: 30px;
}


select{
    size-adjust: 40px;
    width: 90px;
    height: 65px;
    font-size: 35px;
    color: rgb(6, 6, 126);
    font-family: "Odor Mean Chey", serif;
    margin-top: 10px;
    border-radius: 15px 15px 15px 15px;
    border-color:  rgb(255, 255, 255);
    border-style: solid;
    margin-left: 50px;

}

input{
    font-size: 25px;
    width: 200px;
    height: 50px;
    margin-left: 25px;
    margin-right: 20px;
    color: rgb(0, 0, 0);
    border-radius: 15px 15px 15px 15px; 
    background-color: #e6e3e3;
    border-color:  #e6e3e3;
    border-style: solid;
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button{
    width: 60px; /* Define a largura */
    height: 60px; /* Define a altura */
    border-radius: 50%; /* Deixa o botão redondo */
    border: none; /* Remove a borda */
    background-color: #08066b; /* Cor de fundo */
    color: white; /* Cor do texto */
    font-size: 12px;
    cursor: pointer;
    transition: 0.3s;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin-top: 5px;
    position: absolute;
    
}

.bandeira1{
    width: 50px;
    height: 50px;
    background-image: url("https://static.significados.com.br/foto/bandeira-do-brasil.png?width=1024"); /* Caminho da imagem */
    background-size: cover; /* Ajusta o tamanho */
    background-position: center; /* Centraliza a imagem */
    border-radius: 50%;
    margin-left: 10px;
}

.bandeira2{
    width: 50px;
    height: 50px;
    background-image: url("https://static.significados.com.br/foto/bandeira-do-brasil.png?width=1024"); /* Caminho da imagem */
    background-size: cover; /* Ajusta o tamanho */
    background-position: center; /* Centraliza a imagem */
    border-radius: 50%;
    margin-left: 10px;
}

.botao2{
    margin-left: 210px;
    position: absolute;
}

.linha{
    background-color: rgb(0, 0, 0); /* Cor da linha */
    width: 500px; /* Define a largura */
    height: 2px; /* Define a altura */
    justify-content: center;
    align-items: center;
    margin-top: 34px;
    
}
.parte2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
    margin-left: 30px;
}
.conversao{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;

}
    
   /*align-items: center;
justify-content: center;
display: flex;

*/
/*oi*/